@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root{
    @apply 
      flex 
      flex-col 
      min-h-screen 
      bg-cover
      bg-fixed
      font-sans
      text-white
      /*Fondo de pantalla de modulo inicial*/
      3xs1:bg-[url('./Assets/bg_1_movil.png')] 
      3xs2:bg-[url('./Assets/bg_1_movil.png')] 
      3xs3:bg-[url('./Assets/bg_1_movil.png')] 
      2xs1:bg-[url('./Assets/bg_1_movil.png')] 
      2xs2:bg-[url('./Assets/bg_1_movil.png')] 
      2xs3:bg-[url('./Assets/bg_1_movil.png')] 
      2xs4:bg-[url('./Assets/bg_1_movil.png')] 
      2xs5:bg-[url('./Assets/bg_1_movil.png')] 
      xs:bg-[url('./Assets/bg_1_movil.png')] 
      sm1:bg-[url('./Assets/bg_1_movil.png')] 
      sm2:bg-[url('./Assets/bg_1_movil.png')] 
      md1:bg-[url('./Assets/bg_1_movil.png')] 
      md2:bg-[url('./Assets/bg_1_movil.png')] 
      md3:bg-[url('./Assets/bg_1_movil.png')] 
      lg:bg-[url('./Assets/bg_1_movil.png')] 
      xl:bg-[url('./Assets/bg_1.png')]
      2xl:bg-[url('./Assets/bg_1.png')] 
      3xl:bg-[url('./Assets/bg_1.png')] 
      hd:bg-[url('./Assets/bg_1.png')] 
      4k:bg-[url('./Assets/bg_1.png')] 
    ;
  }
}